.body {
    background-color: #576373;
}

html {
    background-color: #576373;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px 10px;
    grid-template-areas: "map table" "details table";
}

.flight-table { grid-area: table; }

.map { grid-area: map; position: relative; }

.details { grid-area: details; }